<style>
    .modal-content {
      background-color: #212121
    }
  </style>
  <!-- Purchase Modal -->
  <div class="modal fade" id="Modal-CreateItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="ModalLabel">
                      Create Item
                  </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
              </div>
          <div class="modal-body">
              <form method="POST">
                  {{ creating_form.hidden_tag() }}
              
                  <h4 class = "text-center">
                      Create a new Inventory Item
                  </h4>

                  <div class = "container">
                    <form method = "POST" class = 'form-createItem' style = 'color:whitesmoke'>
                        {{ creating_form.hidden_tag() }}
                        <br>
                        <h1 class = "h3 mb-3 font-weight-normal">
                            Create Item
                        </h1>
                        {{ creating_form.name.label() }}
                        {{ creating_form.name(class = "form-control", placeholder = "Name") }}
            
                        {{ creating_form.price.label() }}
                        {{ creating_form.price(class = "form-control", placeholder = "Price") }}

                        {{ creating_form.quantity.label() }}
                        {{ creating_form.quantity(class = "form-control", placeholder = "Quantity") }}
            
                        {{ creating_form.barcode.label() }}
                        {{ creating_form.barcode(class = "form-control", placeholder = "Barcode") }}
            
                        {{ creating_form.description.label() }}
                        {{ creating_form.description(class = "form-control", placeholder = "Description") }}
            
                        <br>
                        {{ creating_form.submitCreating(class = "btn btn-lg btn-block btn-primary") }}
            
                    </form>
                </div>
              </form>
          </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Cancel</button>
              </div>
          </div>
      </div>
  </div>