<style>
  .modal-content {
    background-color: #212121
  }
</style>

<!-- Edit Item Modal -->
<div class="modal fade" id="Modal-Edit-{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">
                    {{ item.name }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <div class="modal-body">
            <form method="POST">
                {{ deleting_form.hidden_tag() }}
            
                {{ editing_form.name.label() }}
                {{ editing_form.name(class = "form-control", value = item.name, placeholder = "Name") }}

                {{ editing_form.price.label() }}
                {{ editing_form.price(class = "form-control", value = item.price, placeholder = "Price") }}

                {{ editing_form.quantity.label() }}
                {{ editing_form.quantity(class = "form-control", value = item.quantity, placeholder = "Quantity") }}

                {{ editing_form.barcode.label() }}
                {{ editing_form.barcode(class = "form-control", value = item.barcode, placeholder = "Barcode") }}

                {{ editing_form.description.label() }}
                {{ editing_form.description(class = "form-control", value = item.description, placeholder = "Description") }}

                <br>

                {{ editing_form.submitEditing(class = "btn btn-lg btn-block btn-primary") }}

                <input id="editing_item_id" name="editing_item_id" type="hidden" value="{{ item.id }}">
            </form>
        </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Delete Item Modal -->
<div class="modal fade" id="Modal-Delete-{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">
                    {{ item.name }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <div class="modal-body">
            <form method="POST">
                {{ deleting_form.hidden_tag() }}
            
                <h4 class = "text-center">
                    Are you sure you want to delete {{ item.name }}?
                </h4>

                <input id="deleting_item_id" name="deleting_item_id" type="hidden" value="{{ item.id }}">
                <input id="deleting_item_name" name="deleting_item_name" type="hidden" value="{{ item.name }}">

                {{ deleting_form.submitDeleting(class = "btn btn-lg btn-block btn-outline-danger") }}

            </form>
        </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Cancel</button>
                
            </div>
        </div>
    </div>
</div>